@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
    --blue: #3CE0D0;
    --orange: #FF9559;
    --purple: #755099;
    --bg-gray: #1F1E31;
} */

body {
  min-height: 100vh;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

p {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  list-style-type: disc;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  box-shadow: none !important;
}